* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
body {
  background-color: #e5e9e9;
  position: relative;
}
header {
  position: relative;
}
.nav {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  position: sticky;
  width: 100%;
  top: 0;
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white;
}
/* logo */
.nav-logo {
  width: 130px;
  height: 50px;
}
.logo {
  background-image: url("/images/amazon_logo1.png");
  background-size: cover;
  width: 130px;
  height: 50px;
}
/* address */
.nav-address {
  height: 50px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-address:hover {
  border: 2px solid white;
}

.add-icon {
  display: flex;
  align-items: center;
}

.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 16px;
}
.add-sec {
  color: white;
  font-size: 1rem;
  margin-left: 4px;
  font-weight: bold;
}

/* searchbar */

.nav-searchbar {
  display: flex;
  background-color: white;
  height: 40px;
  width: 550px;
  border-radius: 5px;
}
.nav-searchbar:hover {
  border: 3px solid #fca92c;
}

.select {
  height: 40px;
  width: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  padding-left: 5px;
}

.search {
  height: 35px;
  width: 450px;
  font-size: 1rem;
  border: none;
  outline: none;
}
.search-icon {
  color: #0f1111;
  background-color: #ff9900;
  font-size: 1.3rem;
  width: 48px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* language */

.lang {
  height: 50px;
  width: 70px;
  display: flex;
  align-items: center;
}

.lang-sel {
  height: 40px;
  width: 50px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: none;
}

.flag-img {
  height: 22px;
  width: 22px;
}

/* hello */

.hello {
  display: flex;
  align-items: center;
  height: 50px;
}

.hello-a {
  font-size: 13px;
}

.hello-b {
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: none;
}

/* returnbox */
.nav-return {
  display: flex;
  align-items: center;
  height: 50px;
}
.nav-return p1 {
  font-size: 13px;
}

.nav-return-b {
  font-size: 15px;
  font-weight: bold;
}

/* cart */

.cart {
  display: flex;
  align-items: center;
  font-size: 30px;
  height: 50px;
}
.cart-txt {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}
/* second navbar */

.sec-navbar {
  height: 40px;
  background-color: #232f3e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  position: static;
}

.sec-nav-all {
  margin-left: 10px;
  height: -10px;
  margin-right: -25px;
}
.sec-nav-all p:hover {
  padding: 9px 9px 9px 9px;
  border: 1px solid white;
}

.sec-nav-opt p {
  display: inline;
  margin-left: 10px;
  height: 40px;
  width: auto;
}
.sec-nav-opt p:hover {
  padding: 9px 9px 9px 9px;
  border: 1px solid white;
}

.sec-nav-banner {
  height: 40px;
}

/* main slide */
.slide-shop-box {
  position: static;
}
.hero-slide {
  position: static;
}
.main-slide {
  position: static;
  width: 100%;
  height: 500px;
  overflow: hidden;
  cursor: pointer;
}

/*slide container */
.slide-container {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

/*individual slides */
.slide {
  flex: 0 0 100%;
  height: 100%;
}

/*slide images */
.slide img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/*side buttons */
.slide-button {
  position: absolute;
  top: 5%;
  height: 200px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}
.slide-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.slide-button-prev {
  left: 10px;
}

.slide-button-next {
  right: 10px;
}
.slide-shop-box {
  height: 900px;
}

/* first section */
.first-sec {
  margin-top: -18%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
}

.box {
  /* ///////////////////////////////////////////////// */
  position: static;
  /* border: 1px solid; */
  height: 410px;
  width: 23%;
  background-color: rgb(255, 255, 255);
  padding: 20px 0px 15px;
  margin-top: 15px;
}
.box-img {
  height: 260px;
  max-width: 210px;
  background-size: cover;
  margin-top: 0rem;
  margin-bottom: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}

.box-content {
  margin-right: 1rem;
  margin-left: 1rem;
}
.box-content p {
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.first-box2-img {
  height: 260px;
  max-width: 350px;
  background-size: cover;
  margin-top: 0rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.box4 {
  position: static;
  width: 23%;
  height: 444px;
  background-color: transparent;
  margin-top: 15px;
  /* border: 1px solid; */
}
.box4sep {
  width: 23%;
  height: 24px;
  background: transparent;
  position: relative;
}

.first-sec-box4 {
  height: 155px;
  background-color: white;
  display: flex;
}
.first-sec-box4-p {
  margin-top: 1rem;
  margin-left: 1rem;
}
.second-sec-box4 {
  height: 265px;
  background-image: url(/images/first_sec_box4_img1.jpg);
  background-size: cover;
  cursor: pointer;
}
.first-sec-box4-img {
  height: 155px;
  width: 220px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sponsored {
  font-size: 11px;
  color: #555555;
  margin-left: 1260px;
  opacity: 0.7;
  cursor: pointer;
}
.sponsored:hover {
  opacity: 1;
}
